body {
  border: 2px solid rgb(189, 189, 189);
  margin: 0 15%;
}

.logo-size {
  height: 30px;
}

.nav-selfmade {
  background-color: #6a3773;
}

.nav-selfmade a {
  color: white;
}

.message-style-head {
  background: gold;
  width: 100%;
  color: #6a3773;
  font-size: 30px;
  text-align: center;
}

.event-img img {
  height: 400px;
}

.card-background {
  margin-top: 10px;
  background: linear-gradient(45deg, white, grey, white, grey);
}

.message-style-foot {
  background: #6a3773;
  width: 100%;
  color: white;
  font-size: 30px;
  text-align: left;
  padding: 20px;
  margin-bottom: -10px;
}

.icon-right {
  float: right;
}

.icon-right a {
  background-color: white;
  font-weight: 600;
}

/**messagep **/
.messagesection img {
  margin-top: 10px;
  float: right;
  width: 25%;
  border-radius: 900px;
}
.messagesection p {
  margin-top: 20px;
  margin-left: 20px;
  color: purple;
  font-size: 20px;
}

boardmainpic img {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  body {
    border: 2px solid rgb(189, 189, 189);
    margin: 0;
  }
  .logo-size {
    height: 20px;
    float: left;
  }

  .title-width {
    font-size: 20px;
  }

  .message-style-head {
    font-size: 15px;
  }

  .row-self-img {
    width: 100%;
  }

  .row-self {
    width: 50%;
  }
}
